.form-inline .checkbox {
  padding-left: 10px;
  margin-bottom: 0;
  vertical-align: middle;
}

span.highlighted {
	background-color: #FBE54E;
}

ul.search li a{
	font-weight: bold;
}

.navbar .brand {
	text-transform: capitalize;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
color: #444;
}

h1, h2, h3, h4, h5, h6 {
margin: 10px 0;
font-family: "Arial Narrow Bold", sans-serif;
font-weight: bold;
line-height: 1;
color: black;
text-rendering: optimizelegibility;
}

.label-info, .badge-info {
	background-color: #3A87AD;
	margin-right: 4px;
}

body {
	color: #666666;
}